<mat-toolbar>
  <mat-toolbar-row class="header-layout">
    <span class="clickable" (click)="navigage('home')">Phone Store</span>

    <div>
      <mat-icon class="header-icon clickable" matTooltip="Home Page" [ngClass]="currentPage==='home' ? 'selected-icon' : ''"
        (click)="navigage('home')">home</mat-icon>

      <mat-icon class="header-icon clickable" matTooltip="Adminsitrator Page" [ngClass]="currentPage==='admin' ? 'selected-icon' : ''"
        (click)="navigage('admin')">account_circle</mat-icon>

      <mat-icon *ngIf="isLoggedIn()" class="header-icon clickable" matTooltip="Log Out" (click)="onLogout()">power_settings_new</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>