.title {
    display: flex;
    justify-content: center;
}

.graph-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

}