<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="header-icon">security</mat-icon>
    <span>Admin Page</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="admin-container">
  <h2 class="title">Most Viewed Phones</h2>

  <div class="graph-container">
    <div *ngIf="data1" class="colors">
      <span *ngFor="let color of colors; let index = index;" [ngStyle]="{'color': color}">
        {{ data1[index].viewed_phone.series }} - {{ data1[index].viewsNumber }}
      </span>
    </div>
    <div id="chart-area"></div>
  </div>

  <h2 class="title">Most Phones For Brand</h2>

  <div class="graph-container">
    <div *ngIf="data2" class="colors">
      <span *ngFor="let color of colors; let index = index;" [ngStyle]="{'color': color}">
        {{ data2[index]._id }} - {{ data2[index].value }}
      </span>
    </div>
    <div id="chart-area2"></div>
  </div>
</div>