<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="header-icon">info</mat-icon>
    <span>Details</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="details-container">
  <h2 class="header">{{ phone.series }}</h2>
  <span class="row">colors: {{ phone.color }}</span>
  <span class="row">create_date: {{ phone.create_date | date}}</span>
  <span class="row">price: {{ phone.price }}</span>
  <span class="row">ram: {{ phone.ram }}</span>
  <span class="row">screen_size: {{ phone.screen_size }}</span>
  <span class="row">memory_capacity: {{ phone.memory_capacity }}</span>
</div>