<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="header-icon">info</mat-icon>
    <span>Details</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="details-container">
  <h2 class="header">{{ phone.series }}</h2>
  <span class="row">colors: {{ phone.color }}</span>
  <span class="row">create_date: {{ phone.create_date | date}}</span>
  <div>
    price:
    <input class="row" type="text" [(ngModel)]="phone.price" [disabled]="!isAdmin()">
  </div>
  <div>
    ram:
    <input class="row" type="text" [(ngModel)]="phone.ram" [disabled]="!isAdmin()">
  </div>
  <div>
    screen_size:
    <input class="row" type="text" [(ngModel)]="phone.screen_size" [disabled]="!isAdmin()">
  </div>
  <div>
    memory_capacity:
    <input class="row" type="text" [(ngModel)]="phone.memory_capacity" [disabled]="!isAdmin()">
  </div>

  <img src="{{ phone.picture }}">

  <button *ngIf="isAdmin()" mat-raised-button (click)="onUpdate(phone)">
    <span>Update</span>
  </button>

  <agm-map [latitude]="32.794044" [longitude]="34.989571" [zoom]="12" [disableDefaultUI]="false">
    <agm-marker *ngFor="let store of stores" [latitude]="store.long" [longitude]="store.lat"></agm-marker>
  </agm-map>
</div>