.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    direction: rtl;
}

.row {
    margin-bottom: 10px;
}

agm-map {
    margin-top: 20px;
    height: 350px;
    width: 800px;
}