<div class="search-container">
  <mat-form-field>
    <input matInput placeholder="Search Phone">
  </mat-form-field>

  <button mat-button class="row search-button" (click)="onSearch()">Search</button>

  <div>
    <div *ngFor="let key of $filtersKeys | async">
      <span>{{ key }}:</span>
      <br>
      <mat-checkbox class="filter" *ngFor="let value of ($filters | async)[key]" [checked]="isSelected(key, value)"
        (change)="onCheckboxChange(key, value, $event)">
        {{ value }}</mat-checkbox>
    </div>
  </div>

</div>